{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}
{% block body %}

      
<head>
  
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="backPublic/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="backPublic/assets/img/logo.png">
  <title>
    LOGIN
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="backPublic/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="backPublic/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="backPublic/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="backPublic/assets/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
</head>
<body class="">
  <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
        <div class="col-12">
            <!-- Navbar -->
            <!-- End Navbar -->
        </div>
        </div>
  </div>  
    <main class="main-content  mt-0">
        <section>
        <div class="page-header min-vh-75">
            <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                <div class="card card-plain mt-8">
                    <div class="card-header pb-0 text-left bg-transparent">
                    <h3 class="font-weight-bolder text-info text-gradient">Welcome back</h3>
                    <p class="mb-0">Enter your email and password to sign in</p>
                    </div>
                    <div class="card-body"> 

                                <form method="post">
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}

                                    {% if app.user   %}
                                        <div class="mb-3">
                                            You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
                                        </div>
                                    {% endif %}

                                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                                    <label for="inputEmail">Email</label>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                    <label for="inputPassword">Password</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                                    <input type="hidden" name="_csrf_token"
                                        value="{{ csrf_token('authenticate') }}"
                                    >
                                    <div>
                                        <div class="checkbox mb-3">
                                            <label>
                                                <input type="checkbox" name="_remember_me"> Remember me
                                            </label>
                                        </div>
                                        <a href="/reset-password" class="text-info text-gradient font-weight-bold">Forgot Password ?</a>
                                    </div>
<br>                                <input type="hidden" id="demo-form" name="demo-form"> 
                                    <button class="btn btn-lg btn-primary class="g-recaptcha" 
                                                                data-sitekey="reCAPTCHA_site_key" 
                                                                data-callback='onSubmit' 
                                                                data-action='submit'" type="submit">
                                        Sign in
                                    </button>
                                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-sm mx-auto">
                    Don't have an account?
                    <a href="/register" class="text-info text-gradient font-weight-bold">Sign up</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('backPublic/assets/img/curved-images/curved6.jpg')"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
  <footer class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-4 mx-auto text-center">
          
          
        </div>
        <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-dribbble"></span>
          </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-twitter"></span>
          </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-instagram"></span>
          </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-pinterest"></span>
          </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-github"></span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-8 mx-auto text-center mt-1">
          <p class="mb-0 text-secondary">
            Copyright © <script>
              document.write(new Date().getFullYear())
            </script> Soft by Creative CodeOfDuty.
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
  <!--   Core JS Files   -->
  <script src="backPublic/assets/js/core/popper.min.js"></script>
  <script src="backPublic/assets/js/core/bootstrap.min.js"></script>
  <script src="backPublic/assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="backPublic/assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  {# <script async defer src="https://buttons.github.io/buttons.js"></script> #}
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  {# <script src="backPublic/assets/js/soft-ui-dashboard.min.js?v=1.0.3"></script> #}
</body>

</html>
                        

{% endblock %}


