
{{ include('header-Client.html.twig') }}

{% block title %}
{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1>Les produits</h1>
    </div>

    <div class="row">
        {% for product in products %}
            <div class="col-4 mt-4">
                <div class="border border-dark rounded p-3 clearfix">
                    <h2>
                        {{ product.libelle_equipement }}
                        -
                        {{ product.prix_equipement }}
                        DT
                    </h2>
                    <img class="img-fluid rounded" src="{{ product.image }}" alt="Image de {{ product.libelle_equipement }}">
                    <hr>

                    <form method="post" action="{{ path('panier_add', {'id': product.id}) }}" >
                        <button type="submit" class="btn btn-success float-right">
                            <i class="fas fa-shopping-cart mr-1"></i>
                            Ajouter
                        </button>
                    </form>
                </div>

            </div>

        {% endfor %}
    </div>
{% endblock %}
{{ include('footer.html.twig') }}