{{ include('back/header.html.twig') }}
{% block body %}
    {{ form_start(form,{'attr':{'novalidate': 'novalidate'}}) }}

    <table align="center">
        <tr>
                <h1>Ajout Type Reclamation</h1>
        </tr>

        <tr>
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {'attr':{'class': 'form-label" '}})}}
                {{ form_errors(form.description) }}
        </tr>

        <tr>
            <td>
                {{ form_widget(form.Ajouter, {'attr': {'class': 'btn btn-outline-info' }})}}
            </td>
        </tr>
    </table>
    {{ form_end(form) }}

{% endblock %}
{{ include('back/footer.html.twig') }}