{{ include('header.html.twig') }}

{% block title %}{% endblock %}

{% block body %}
    <h1>Panier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ panier.id }}</td>
            </tr>
            <tr>
                <th>Date_panier</th>
                <td>{{ panier.datePanier ? panier.datePanier|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Libellep</th>
                <td>{{ panier.libellep }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('panier_cd_index') }}">Retourner à la liste</a>

    <a href="{{ path('panier_cd_edit', {'id': panier.id}) }}">Modifier</a>

    {{ include('panier_cd/_delete_form.html.twig') }}
{% endblock %}
{{ include('footer.html.twig') }}