{{ include('back/header.html.twig') }}
{% block body %}
    <table align="center">

       <h1><center>Reponse</center></h1>
        {{ form_start(reponse,{'attr':{'novalidate': 'novalidate'}}) }}

        <tr>
            <td >
                {{ form_label(reponse.reponse, "Reponse", {'label_attr': {'class': 'form-control-label'}}) }}
            </td >
            <td>
                {{ form_widget(reponse.reponse, {'attr':{'class': 'input-group date'}})}}
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">
                {{ form_widget(reponse.Ajouter)}}
            </td>
        </tr>
        {{ form_end(reponse) }}


    </table>
{% endblock %}
{{ include('back/footer.html.twig') }}