{{ include('header.html.twig') }}

{% block title %}Edit Category{% endblock %}

{% block body %}
    {% for message in app.flashes('Success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Edit Category</h1>

    {{ include('CategoryProduct/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('CategoryProduct_index') }}">back to list</a>

    {{ include('CategoryProduct/_delete_form.html.twig') }}
{% endblock %}
{{ include('footer.html.twig') }}