{% extends 'accueil/reste.front.html.twig' %}
{% block body %}
<div class="row">
 <div class="col-lg-6">
 {{ form_start(form,{'attr': {'novalidate': 'novalidate','class' : 'php-email-form'}} ) }}

  <table align="center">
   <h1 align="center" class="alert alert-primary">Réservation</h1>

   <tr>
          {{ form_errors(form.nbPersonne) }}
    <td>
      <h3 >{{ form_label(form.nbPersonne,"Nombre de personne: ")  }}</h3>
    </td>
    <td>
     {{ form_widget(form.nbPersonne,{'attr':{'class':'form-control','placeholder':'Nombre de Personnes'}} ) }}
    </td>
   </tr>

 <div class="col-md-6 form-group">
  <tr>
  {{ form_errors(form.user) }}
   <td>
  {{ form_label(form.user,"CIN : ")  }}
   </td>
   <td>
  {{ form_widget(form.user,{'attr':{'class':'btn btn-info dropdown-toggle'}} ) }}
   </td>
  </tr>
 </div>
   <div class="col-md-6 form-group">
    <tr>
     {{ form_errors(form.even) }}
     <td>
      {{ form_label(form.even,"Evènement : ")  }}
     </td>
     <td>
      {{ form_widget(form.even) }}
     </td>
    </tr>
   </div>
 <tr>
  <div class="col-md-6 form-group">
   <td>
    <button class="btn">{{ button_label|default('Save') }}</button>
   </td>
  </div>
 </tr>
</table>
{{ form_end(form) }}
</div>
</div>


{% endblock %}






