{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
{% block body %}

            <table align="center">
                <h1 cl align="center" class="alert alert-primary">Devis N° {{ devi.id  }}</h1>

                    <th>
                        {{ form_label(form.prixTot,"Prix total avant remise: ")  }}
                    </th>
                    <td>{{ devi.prixTot }}</td>
                    <td>
                        {{ form_widget(form.prixTot,{ 'attr' : { 'style':'display:none'}}) }}
                    </td>
                </tr>
                <tr><td> {{ form_errors(form.prixTot) }}</td></tr>

                    <tr>

                        <th>
                            {{ form_label(form.remise,"Remise")  }}
                        </th>
                        <td>
                            {{ form_widget(form.remise) }}
                        </td>
                    </tr>
                    <tr><td>{{ form_errors(form.remise) }}</td></tr>


                        <td colspan="2">
                            <button class="btn-outline-primary">{{ button_label|default('Save') }}</button>
                        </td>

                </tr>
            </table>
            {{ form_end(form) }}

{% endblock %}