
{{ include('admin/header.html.twig') }}

{% block title %}{% endblock %}


{% block body %}
    <h1> <img src="{{asset("devis.JPG")}}" height="200" width="300">Devis</h1><br><br>
    <table class="table">
        <thead>
            <tr>
                <th>N°</th>
                <th>Client</th>
                <th>Evènement</th>
                <th>Prix unitaire de l'évènement</th>
                <th>Nombre de personnes</th>
                <th>Total </th>
                <th>Remise</th>
                <th>Total avec remise</th>


                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for devi in devis %}
            {%  if (devi.Reservation.etat == 1) %}
            <tr>
                <td>{{ devi.id }}</td>
                <td>{{ devi.Reservation.user.userName }}</td>
                <td>{{ devi.Reservation.even.titre_even }}</td>
                <td>{{ devi.Reservation.even.prix_even }}</td>
                <td>{{ devi.Reservation.nbPersonne  }}</td>
                <td>{{ devi.Reservation.even.prix_even *  devi.Reservation.nbPersonne }}</td>
                <td>{{ devi.remise }}</td>
                <td>{{ devi.prixTot }}</td>
                <td>
                    <a href="{{ path('devis_edit', {'id': devi.id}) }}"><h4>Remise</h4></a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
{{ include('admin/footer.html.twig') }}