{{ include('header-client.html.twig') }}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Numéro de réservation</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Nombre de personne</th>
                <td>{{ reservation.nbPersonne }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('reservation_cd_index') }}">back to list</a>

    <a class="btn btn-successhref"{{ path('reservation_cd_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('reservation_cd/_delete_form.html.twig') }}
{% endblock %}
{{ include('footer.html.twig') }}