{{ include('header.html.twig') }}

{% block title %}Edit Product{% endblock %}

{% block main %}
    {% for message in app.flashes('Success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <style>
        li{
            color: red;
            font-size: 15px;
            width: 10%;

        }
    </style>
    <div class="container text-center">


    <h1>Edit Product</h1>
        <a href="{{ path('product_index') }}" class="btn btn-success"  style="width: 90%">back to list</a>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    </div>
{% endblock %}
{{ include('footer.html.twig') }}