{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

<table>
<hr>
<tr>


<tr>
    <td><strong> <p><u><em>{{form_label(form.date_panier,"Date Panier")}} </strong></p></u></em></td>
    <td>  <p><u><em> {{form_widget(form.date_panier)}} </p></u></em></td>
    <td>  <p><u><em> {{form_errors(form.date_panier)}} </p></u></em></td>
</tr>
<tr>
    <td> <strong><p><u><em>   {{form_label(form.libellep,"Libelle Panier")}} </strong></p></u></em></td>
    <td>  <p><u><em> {{form_widget(form.libellep)}} </p></u></em></td>
    <td> <p><u><em>  {{form_errors(form.libellep)}} </p></u></em></td>
</tr>
    <tr>
    <td><strong> <h1><u><em> {{form_label(form.idEquipement,"Id Panier")}}</h1></u></em> </strong></td>
    <td> <p1><u><em> {{form_widget(form.idEquipement)}} </p1></u></em></td>
    <td><p1><u><em>  {{form_errors(form.idEquipement)}}</p1></u></em> </td></tr>
</table>

<button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}