{{ include('header.html.twig') }}
{% block body %}


    {{ include('panier_cd/_form.html.twig', {'button_label': 'Update' }) }}
    {{ include('panier_cd/_delete_form.html.twig') }}

{% endblock %}
<a href="{{ path('panier_cd_index') }}" >Retourner à la liste</a>

{{  include('footer.html.twig') }}