{{ include('header.html.twig') }}

{% block title %}{% endblock %}

{% block body %}
    <h1>Liste des paniers</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date_panier</th>
            <th>Libellep</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for panier in paniers %}
            <tr>
                <td>{{ panier.id }}</td>
                <td>{{ panier.datePanier ? panier.datePanier|date('Y-m-d') : '' }}</td>
                <td>{{ panier.libellep }}</td>
                <td>
                    <a href="{{ path('panier_cd_show', {'id': panier.id}) }}">Afficher</a>
                    <a href="{{ path('panier_cd_edit', {'id': panier.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('panier_cd_new') }}">Créer de nouveau </a>
{% endblock %}
{{ include('footer.html.twig') }}