
{#  % extends 'base.html.twig' %}#}
{{ include('headerClient.html.twig') }}
{% block title %}
{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1>Votre panier</h1>
    </div>
    {% if items | length > 0 %}
        <table class="table" text = "#0000FF">
        <thead>
        <tr>
            <th><h4><strong>Equipement</strong></h4></th>
            <th><h4><strong>Description</strong></h4></th>
            <th><h4><strong>Prix</strong></h4></th>
            <th class="quantity"><h4><strong>Quantité</strong></h4></th>
            <th><h4><strong>Total</strong></h4></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody  text = "blue" bgcolor = "white">
        {% for item in items %}
        <tr>
            <td ><strong>{{ item.Equipement.libelle_equipement }}</strong></td>
            <td>{{ item.Equipement.description_equipement }}</td>
            <td>{{ item.Equipement.prix_equipement }}</td>
            <td><div>

                <div class="cart_quantity_button">
                    <a class="cart_quantity_up" href=""> + </a>
                    <input class="cart_quantity_input" type="text" name="quantite" value="{{ item.quantite }}" autocomplete="off" size="2">
                    <a class="cart_quantity_down" href=""> - </a>
                </div>
                    <div onClick="var result = document.getElementById('quantite' ~ item.quantite); var quantite
= result.value; if( !isNaN( quantite ) &amp;&amp; quantite &gt; 0 ) result.value-
-;return false;" class="dec qtybutton"><i class="fa fa-minus">&nbsp;</i>
                    </div>

                    <div onClick="var result = document.getElementById('quantite' ~ item.quantite); var quantite
= result.value; if( !isNaN( quantite )) result.value++;return false;" class="inc
qtybutton"><i class="fa fa-plus">&nbsp;</i></div>

</div>


            </td>
            <td> <strong>{{ item.Equipement.prix_equipement * item.quantite }} <h6>DT</h6></strong></td>
            <td>
                <a href="{{ path('panier_remove',{'id': item.Equipement.id}) }}" class="btn btn-danger btn-sm" float-right>
                <i class="fas fa-trash"></i></a>
            </td>

                </div>

        </tr>
        {% endfor %}
        </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-lg-e">Total :</td>
                <td colspan="4" class="p-4"><strong><h3>{{ total }} </h3></strong></td>
            </tr>
            <tr>
                <td colspan="" class="text-right">
                    <a href="{{ path('commande_cd_new')}}"  class="btn btn-success  ">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Commander
                    </a>
                </td>
            </tr>
            </tfoot>
        </table>
        {% else %}
            <p>Surprise, c'est vide !</p>
    {% endif %}

{% endblock %}

{{ include('footerClient.html.twig') }}