{{ include('header.html.twig') }}


{% block title %}{% endblock %}

{% block body %}

    <h1>Edit Equipement</h1>

    {{ include('equipement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('equipement_index') }}">back to list</a>

    {{ include('equipement/_delete_form.html.twig') }}
{% endblock %}
{{ include('footer.html.twig') }}