
{{ include('header.html.twig') }}

{% block title %}{% endblock %}

{% block body %}

    <h1>Equipement </h1>
<div class="container d-flex align-items-center justify-content-between">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle_equipement</th>
                <th>Image</th>
                <th>Description_equipement</th>
                <th>Prix_equipement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipement in equipements %}
            <tr>
                <td>{{ equipement.id }}</td>
                <td>{{ equipement.libelleEquipement }}</td>
                <td>{{ equipement.image }}</td>
                <td>{{ equipement.descriptionEquipement }}</td>
                <td>{{ equipement.prixEquipement }}</td>
                <td>
                    <a class="btn" href="{{ path('equipement_show', {'id': equipement.id}) }}">Afficher</a>
                    <a class="btn" href="{{ path('equipement_edit', {'id': equipement.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
</div>
<a class="btn" href="{{ path('equipement_new') }}">Ajouter</a>
{{ include('footer.html.twig') }}