
{{ include('header-front.html.twig') }}

{% block title %}{% endblock %}

{% block body %}
    <div >
    <h1>Equipement</h1>
    </div>
<div class="container d-flex align-items-center justify-content-between">



    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipement.id }}</td>
            </tr>
            <tr>
                <th>Libelle_equipement</th>
                <td>{{ equipement.libelleEquipement }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ equipement.image }}</td>
            </tr>
            <tr>
                <th>Description_equipement</th>
                <td>{{ equipement.descriptionEquipement }}</td>
            </tr>
            <tr>
                <th>Prix_equipement</th>
                <td>{{ equipement.prixEquipement }}</td>
            </tr>
        </tbody>
    </table>




{% endblock %}
</div>
<div class="container d-flex align-items-center justify-content-between">
    <a class="btn" href="{{ path('equipement_index') }}">Liste</a>

    <a class="btn" href="{{ path('equipement_edit', {'id': equipement.id}) }}">Modifier</a>
{{ include('equipement/_delete_form.html.twig') }}
</div>
{{ include('footer.html.twig') }}