{{ include('header.html.twig') }}

{% block title %}{% endblock %}

{% block body %}
    <div>
    <h1>Categorie</h1>
    </div>
<div class="container d-flex align-items-center justify-content-between">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom_categorie</th>
                <td>{{ categorie.nomCategorie }}</td>
            </tr>
        </tbody>
    </table>

    {% endblock %}
</div>

<div class="container d-flex align-items-center justify-content-between">
    <a class="btn" href="{{ path('categorie_index') }}">back to list</a>

    <a class="btn" href="{{ path('categorie_edit', {'id': categorie.id}) }}">edit</a>

    {{ include('categorie/_delete_form.html.twig') }}
</div>
{{ include('footer.html.twig') }}